.Input {
  width: 100%;
  border: 1px solid #cccccc;
  border-radius: 0.4rem;
  padding: 0.5rem;
  font-size: 1.6rem;
}

/* TODO: extract `VisuallyHidden` to reusable mixin */
.VisuallyHidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
